body{
	background-image: url(back.jpg);
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
h1{
	font-family: 'Sirin Stencil', cursive;
	color: white;
	margin: 7em 50px 50px 50px;
	text-decoration: underline;
	cursor: pointer;
}
.container{
	justify-content: center;
	margin-left: center;
	display: flex;
	flex-wrap: wrap;
}
.btn-primary{
	background-color: black;
	font-family: 'Sirin Stencil', cursive;
	box-shadow: 2px 2px 2px 2px white;
	display: flex;
	flex-wrap: wrap;
	
}
.btn-primary:hover{
	transition: all 1s;
	transform: scale(1.1);
}
